<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Privacy — Camera Usage Description</key>
	<string>AI 생성을 위해 카메라 접근을 허용하시겠습니까? 정보는 저장되지 않습니다.</string>
	<key>UIAppFonts</key>
	<array>
		<string>SB 어그로OTF Bold.otf</string>
		<string>SB 어그로OTF M.otf</string>
		<string>SB 어그로OTF L.otf</string>
	</array>
</dict>
</plist>
